footer.main-footer
      .container
        .row
          .col-md-2
            a.main-footer__logo(href='./index.html')
              img(src='img/logo.png', width='131', height='70', alt='Softnext')
          .col-md-5.col-md-offset-1
            nav.main-footer__nav
              ul
                li
                  b Company
                li
                  a(href='./index.html') Home
                li
                  a(href='./aproaches.html') Approaches
                li
                  a(href='./aboutus.html') About Us
              ul
                li
                  b Approaches
                li
                  a(href='./aproaches.html') Outsource
                li
                  a(href='./aproaches.html') Outstaff
                li
                  a(href='./aproaches.html') Expertise
              ul
                li
                  b Contact Us
                li
                  span USA, NY
                li
                  span Peru, Lima
                li
                  span Ukraine, Kharkiv
          .col-md-offset-1.col-md-3
            section.social
              span Social networks
              ul.social__list
                li
                  a(href='#') 
                    i.fa.fa-twitter
                li
                  a(href='#') 
                    i.fa.fa-facebook
                li
                  a(href='#') 
                    i.fa.fa-linkedin
                li
                  a(href='#') 
                    i.fa.fa-google-plus
                li
                  a(href='#')
                    i.fa.fa-youtube
                li
                  a(href='#')
                    i.fa.fa-instagram
      section.copyright.text-center
        p
          | © 2013 - 2017. Softnext.io. All rights reserved
script(src='js/index.js')
