.container
    .row
      .col-md-10.col-md-offset-1.main-header__home-sub.col-xs-12
        h1.main-header__title.text-center
          | DEDICATED SOFTWARE DEVELOPMENT
          | TEAMS
        p.main-header__descr.text-center
          | We coordinate projects with our dedicated development teams. The whole process is smartly arranged to maximize efficiency. As a result, the performance of our teams is significantly better and one of the main risks during development - lack of human recourses and ideas - is excluded.
        .btn__container
          a.main-header__btn.btn(href='/aboutus.html') About Us
    a.main-header__mouse(href='#start')
