doctype html
html(lang='en')
  // Mirrored from hasiev-elchin.github.io/softnext/ by HTTrack Website Copier/3.x [XR&CO'2013], Sat, 25 Nov 2017 13:47:16 GMT
  // Added by HTTrack
  meta(http-equiv='content-type', content='text/html;charset=utf-8')
  // /Added by HTTrack
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Softnext
    link(href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,500,500i,700,700i,900,900i&subset=latin-ext', rel='stylesheet')
    link(rel="shortcut icon", href="img/Favicon.ico", type="image/x-icon")
    link(rel='stylesheet', href='css/style.css')
    script(src="https://use.fontawesome.com/8ec1ad14fa.js")
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    .mobmenu
        ul.text-center
            li(data-page="home")
              a(href='./index.html') Home
            li(data-page="approaches")
              a(href='./aproaches.html') Approaches
            li(data-page="expertise")
              a(href='./ourexp.html') Expertise
            li(data-page="aboutus")
              a(href='./aboutus.html') About Us
            li(data-page="contacts")
              a(href='./contacts.html') Contact Us
        .closebtn
          i.fa.fa-times

    header.main-header
      block head
          .container
            .row.mobflex
              .col-xs-4.col-sm-2
                nav.main-nav.navbar.navbar-default
                  .container-fluid
                    .navbar-header
                      a.main-nav__logo.navbar-brand(href='./index.html')
                        img(src='img/logo.png', width='131', height='70', alt='Softnext')
              .col-sm-10.col-xs-8
                    #main-navigation.navbar-right
                      span.mobmenu-btn.hidden-md.hidden-lg
                        i.fa.fa-bars
                      ul.main-nav__list.nav.navbar-nav.text-center.hidden-xs.hidden-sm
                        li(data-page="home")
                          a(href='./index.html') Home
                        li(data-page="approaches")
                          a(href='./aproaches.html') Approaches
                        li(data-page="expertise")
                          a(href='./ourexp.html') Expertise
                        li(data-page="aboutus")
                          a(href='./aboutus.html') About Us
                        li(data-page="contacts")
                          a(href='./contacts.html') Contact Us
