section.questions
  .container.foo.foo-5
    .row
      .col-md-10.col-md-offset-1
        h2.questions__title.title
          | You have questions?
        p.questions__descr
          | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
      .col-md-12
        form.questions__form.form-inline.text-center(action='https://hasiev-elchin.github.io/softnext/index.html', method='post')
          input(type='text', name='name', placeholder='Name')
          input(type='text', name='company', placeholder='Company')
          input(type='tel', name='phone', placeholder='Phone*', required='')
          input(type='email', name='email', placeholder='Email*', required='')
          br
          textarea(name='', id='', cols='30', rows='10', placeholder='Request*', required='')
          .btn__container
            button.main-header__btn.btn(type='submit') Submit
