body {
	margin: 0;
	padding: 0;
	font-family: $custom_ff;
	background-color: $base-bg;
	height: 100%;
	line-height: 1;
	position: relative;
	font-size: $base-font-size;
	background-color: $base-bg;
	color: #555;
	overflow-x: hidden;

	&.no-scroll {
		overflow-y: hidden; 
	}
}



/*MAIN*/
html {
	height: 100%;
}

input,
textarea {
	color: #222;
	font-family: $custom_ff;
	outline: none;
	border-radius: 0;
	transition: all .3s ease-in-out;

	&:hover,
	&:focus {
		box-shadow: 0 0 7px #0bbfb9;
	}
}

input[type="button"],
input[type="submit"],
button {
	cursor: pointer
}

td {
	margin: 0px;
	padding: 0px;
}

form {
	padding: 0px;
	margin: 0px;
}

a {
	color: $link-color;
	text-decoration: none;
	outline: none;
}

a,
span,
div,
button {
	outline: none!important
}

input[type=submit],
input[type=button],
button {
	-webkit-appearance: none;
	outline: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: border-box;
}

.row:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

section {
	padding: 80px 0;

	&.darker {
		background-color: #f6f5f7;
	}

	&.social {
		padding: 0;
	}
}

.flex {
	display: flex;
}
