.start__title {
    padding: 0;
    padding-bottom: 25px;
    margin: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    color: #343434;
}

.start__descr {
    margin: 0;
    margin-bottom: 45px;
    font-size: 1em;
    color: #555;
}
