.defimgblock {
    text-align: center;

    &__img {
        img {
            max-width: 100%;
        }
    }

    h3 {
        font-size: 21px;
        text-transform: uppercase;
        text-transform: uppercase;
        color: #343434;
        font-weight: 900;
        margin-top: 35px;
    }

    p {
        font-size: 16px;
        color: #555;
    }
}

#outsource {
    padding-top: 0;
}
