html {
    font-size: 18px;
}

body {
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 27px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.btn__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
}

.btn:active,
.btn:focus {
    outline: none !important;
}

@media only screen and (max-width: 768px) {
    /*Disable Animation on Mobile Devices*/
    .foo {
        /*CSS transitions*/
        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;
        /*CSS transforms*/
        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        /*CSS animations*/
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }
}

.slick-dots {
    bottom: -50px;
}

.slick-dots li {
    margin-right: 5px;
}

.slick-dots li button {
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid #756e8e;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.slick-dots li.slick-active button {
    background-color: #0bbfb9;
    border-color: #0bbfb9;
}

.title {
    position: relative;
    display: block;
    margin: 0;
    padding-bottom: 25px;
    margin-bottom: 25px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    font-size: 1.67em;
}

.title::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 35px;
    height: 2px;
    background-color: #0bbfb9;
    transform: translateX(-50%);
}

.start {
    padding-top: 80px;
    padding-bottom: 48px;
    color: #555555;
}

.start__item {
    padding: 34px;
    margin-bottom: 32px;
    text-align: center;
    border: 1px solid #ececec;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.start__item-title {
    position: relative;
    display: block;
    padding-top: 90px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.2em;
    color: #343434;
}

.start__item-title::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 75px;
    height: 75px;
    margin-left: -37.5px;
    background-repeat: no-repeat;
    background-position: top center;
}

.start__item--requirements .start__item-title::before {
    background-image: url("../img/icons/start-icon__1.png");
}

.start__item--selection .start__item-title::before {
    background-image: url("../img/icons/start-icon__2.png");
}

.start__item--setup .start__item-title::before {
    background-image: url("../img/icons/start-icon__3.png");
}

.start__item--launch .start__item-title::before {
    background-image: url("../img/icons/start-icon__4.png");
}

.start__item-descr {
    margin: 0;
    font-size: .9em;
    line-height: 24px;
}

.clients {
    padding-top: 80px;
    padding-bottom: 90px;
    background: url("../img/clients-bg.jpg") no-repeat center/cover;
}

.clients__title::after {
    background-color: #fff;
}

.clients__descr {
    margin: 0;
    margin-bottom: 40px;
    text-align: center;
    font-size: 1em;
    line-height: 27px;
}

.clients__slider {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
        text-align: center;

        img {
            display: inline-block;
        }
    }
}

.needs {
    padding-top: 80px;
    padding-bottom: 80px;
}

.needs__title {
    display: block;
    color: #343434;
}

.needs__descr {
    display: block;
    margin: 0;
    margin-bottom: 45px;
    text-align: center;
    color: #555;
}

.needs__item {
    min-height: 360px;
    padding: 34px;
    text-align: center;
    border: 1px solid #ececec;
}

.needs__item-title {
    position: relative;
    display: block;
    padding-top: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 1.2em;
    color: #343434;
}

.needs__item-title::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 77px;
    height: 72px;
    margin-left: -38.5px;
    background-repeat: no-repeat;
    background-position: top center;
}

.needs__item-descr {
    display: block;
    margin: 0;
    font-size: .89em;
    color: #555555;
}

@media (max-width: 767px) {
    .needs__item {
        min-height: 0;
    }
    .needs__item--pool {
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .needs__item {
        min-height: 0;
    }
    .needs__item--pool {
        margin-bottom: 20px;
    }
}

.questions {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #f6f5f7;
}

.questions__title {
    color: #343434;
}

.questions__descr {
    margin: 0;
    margin-bottom: 35px;
    text-align: center;
    color: #555;
}

.questions__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #555;
}

.questions__form input {
    flex: 1;
    padding: 15px 20px;
    margin: 0 5px;
    margin-bottom: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #dddddd;
}

.questions__form input[name="email"] {
    //margin-right: 0;
}

.questions__form input::placeholder {
    font-size: 14px;
}

.questions__form textarea {
    width: 100%;
    height: 75px;
    padding: 15px 20px;
    margin: 0 5px;
    margin-bottom: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #dddddd;
    resize: none;
}

.questions__form textarea::placeholder {
    font-size: 14px;
}

.questions__form .btn {
    padding: 19px 90px;
    outline: none;
    cursor: pointer;
}

.main-footer {
    padding-top: 54px;
    background: url("../img/footer-bg.jpg") no-repeat center/cover;
}

.main-footer__logo {
    display: block;
    width: 131px;
    height: 70px;
}

.main-footer__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-footer__nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 55px;
}

.main-footer__nav ul li {
    margin-bottom: 8px;
}

.main-footer__nav ul b {
    display: block;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: #0bbfb9;
}

.main-footer__nav ul a {
    display: block;
    color: #fff;
    font-size: 14px;
}

.main-footer__nav ul span {
    font-size: 14px;
}

@media (min-width: 768px) {
    .main-footer__logo {
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .main-footer__nav {
        justify-content: space-around;
    }
}

@media (max-width: 767px) {
    .main-footer__logo {
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .main-footer__nav {
        //display: none;
        justify-content: space-around;
        flex-wrap: wrap;

        ul {
            margin: 5px 10px;
        }
    }
}

.social span {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: .9em;
    line-height: 18px;
    color: #0bbfb9;
}

.social__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0;
}

.social__list a {
    display: block;
    width: 31px;
    height: 31px;
    border: 1px solid #fff;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    transition: .3s;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    &:hover {
        text-decoration: none;
    }
}

.social__list a:hover {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    transform: rotate(360deg);
}


@media (min-width: 992px) {
    .social__list {
        justify-content: center;
    }
    .social__list li {
        margin-right: 10px !important;
    }
}



@media (min-width: 768px) {
    .social {
        margin-bottom: 40px;
    }
    .social span {
        text-align: center;
    }
    .social__list {
        justify-content: center;
    }
    .social__list li {
        margin-right: 20px;
    }
    .social__list li:last-child {
        margin-right: 0;
    }
}

@media (max-width: 767px) {
    .social {
        margin-bottom: 30px;
    }
    .social span {
        text-align: center;
    }
    .social__list {
        justify-content: center;
    }
    .social__list li {
        margin-right: 10px;
    }
    .social__list li:last-child {
        margin-right: 0;
    }
}

.copyright {
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #68587d;
}

.copyright p {
    margin: 0;
    font-weight: 300;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.2);
}



/*# sourceMappingURL=style.css.map */
