#webdev,
#mobdev {
    .flex {
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.technicon {
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    margin-right: 6px;

    &:last-child {
        margin-right: 0;
    }

    &__icon {
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        height: 105px;
        width: 105px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    p {
        margin-top: 10px;
    }
}

#mobdev {
    .technicon {
        &__icon {
            width: 165px;
            height: 165px;
            margin: 0 15px;
            align-items: center;
            justify-content: center;
            
            img {
                height: 85px;
            }
        }
    }
}
