include parts/header
    span.hidden(data-page="aboutus")
    .container
        .row.aproaches-header
            .col-xs-12
                h2.text-center OUR TEAM
                p.text-center
                    | What makes us different? Well, our attitude, our passion and our people.
                    br
                    | We really love what we do and enjoy the process.

section#founders
    .container
        .row
            .col-md-10.col-md-offset-1
                h2.needs__title.title
                    | Founders
                p.needs__descr
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        .row
            .flex
                .member
                    span.member__img
                        img(src="img/members/lazorenko.png", alt="")
                    h3.member__title Andrey Lazorenko
                    p.member__desc
                        | CEO IdeaSoft
                        br
                        | +38 (093) 161 50 86
                        br
                        a(href="mailto:lazorenko.a@ideasoft.io") lazorenko.a@ideasoft.io
                .member
                    span.member__img
                        img(src="img/members/strogniev.png", alt="")
                    h3.member__title German Stogniev
                    p.member__desc
                        | CEO IdeaSoft
                        br
                        | +38 (099) 372 65 19
                        br
                        a(href="mailto:stogniev.g@ideasoft.io") stogniev.g@ideasoft.io
                .member
                    span.member__img
                        img(src="img/members/polikarpov.png", alt="")
                    h3.member__title Vladislav Polikarpov
                    p.member__desc
                        | CEO IdeaSoft
                        br
                        | +38 (067) 70 35 408
                        br
                        a(href="mailto:polikarpov.v@ideasoft.io") polikarpov.v@ideasoft.io

section#partners.darker
    .container
        .row
            .col-md-10.col-md-offset-1
                h2.needs__title.title
                    | Partners
                p.needs__descr
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s  
        .row
            .flex
                .member
                    span.member__img
                        img(src="img/members/jack.png", alt="")
                    h3.member__title Leonid Jack
                    p.member__desc
                        | Managing Partner. Region - Israel
                        br
                        | +972 54 746 5422
                        br
                        a(href="mailto:jack.leonid@gmail.com") jack.leonid@gmail.com
                .member
                    span.member__img
                        img(src="img/members/sevriukov.png", alt="")
                    h3.member__title Andrey Sevryukov 
                    p.member__desc
                        | Partner. Region - North America, South America
                        br
                        | +1 (347) 387 3556
                        br
                        a(href="mailto:sa@ideasoft.io") sa@ideasoft.io
                .member
                    span.member__img
                        img(src="img/members/wong.png", alt="")
                    h3.member__title Ken Wong
                    p.member__desc
                        | Partner. Region - Australia 
                        br
                        | +61 406 366 366
                        br
                        a(href="mailto:kenwong.email@gmail.com") kenwong.email@gmail.com
                .member
                    span.member__img
                        img(src="img/members/chausovsky.png", alt="")
                    h3.member__title Igor Chausovsky 
                    p.member__desc
                        | Partner. Region - USA
                        br
                        | +1(747)-237-0067
                        br
                        a(href="mailto:Igor.Chausovsky@gmail.com") Igor.Chausovsky@gmail.com
                .member
                    span.member__img
                        img(src="img/members/erman.png", alt="")
                    h3.member__title George Erman
                    p.member__desc
                        | Partner. Region - Russia
                        br
                        | +7 (495) 773 7886
                        br
                        a(href="mailto:Igor.Chausovsky@gmail.com") 7737886@gmail.com

section#partners
    .container
        .row
            .col-md-10.col-md-offset-1
                h2.needs__title.title
                    | MANAGEMENT
                p.needs__descr
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        .row
            .flex
                .member
                    span.member__img
                        img(src="img/members/flores.png", alt="")
                    h3.member__title Eduardo Flores
                    p.member__desc
                        | Business Developer
                        br
                        | Region - Peru, Brasil, Equador, Colombia
                        br
                        a(href="mailto:EdFlores@ideasoft.io") EdFlores@ideasoft.io
                .member
                    span.member__img
                        img(src="img/members/ezhow.png", alt="")
                    h3.member__title Mike Ezhow
                    p.member__desc
                        | Business Developer
                        br
                        | Region - USA (NY)
                        br
                        | +1 (347) 563 7253

include parts/questions
include parts/footer
