include parts/header
    span.hidden(data-page="approaches")
    .container
        .row.aproaches-header
            .col-md-6.col-sm-12
                h2.text-center OUTSTAFF
                .row.text-center
                    .col-sm-6.col-xs-12
                        a.light-btn(href="#") Dedicated team
                    .col-sm-6.col-xs-12
                        a.light-btn(href="#") Monthly resourse-based model
            .col-md-6.col-sm-12
                h2.text-center OUTSOURCE
                .row.text-center
                    .col-sm-6.col-xs-12
                        a.light-btn(href="#") Fixed price project
                    .col-sm-6.col-xs-12
                        a.light-btn(href="#") Time and material
section#outstaf
    .container
        .row
            .col-md-10.col-md-offset-1.text-center
                h2.start__title.title Outstaff model
                p.start__descr.descr
                  | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
            
        .row
            .col-sm-6.col-xs-12
                .defimgblock
                    span.defimgblock__img
                        img(src="img/dedicated.png", alt="dedicated")
                    h3.defimgblock_title Dedicated team
                    p.defimgblock__p.
                        In this case we provide the client with thoroughly selected technical experts. Our customers choose and have full control over the selected development team, managing team members as employees of own company. Such model is very productive, cost-effective and flexible at the same time.
            .col-sm-6.col-xs-12
                .defimgblock
                    span.defimgblock__img
                        img(src="img/resource.png", alt="dedicated")
                    h3.defimgblock_title MONTHLY RESOURCE-BASED MODEL
                    p.defimgblock__p.
                        With this model you can optimise your spendings comparing to other models, and guarantee that a team with specific skill set or domain knowledge will be attached to the project. While you extend or set up an offshore team, all legal and organizational risks and costs are on the side of IdeaSoft, so you can focus on pure development.
section#outsource
    .container
        .row
            .col-md-10.col-md-offset-1.text-center
                h2.start__title.title OUTSOURCE MODEL
                p.start__descr.descr
                  | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
            
        .row
            .col-sm-6.col-xs-12
                .defimgblock
                    span.defimgblock__img
                        img(src="img/timematerial.png", alt="dedicated")
                    h3.defimgblock_title Time and Material
                    p.defimgblock__p.
                        The cost of services is based on an hourly rate of the hired engineers and actual time spent. The spent time is monitored on a daily basis using time tracking software, and through weekly timesheets and progress reports. From the Client’s perspective, you are always assured of getting what you need and paying for only what is needed.Time and Material engagement model works for the projects with uncertain scope of work and time bounds. The advantage of this model is a high degree of flexibility to alter specifications and accommodate unplanned activities rapidly.
            .col-sm-6.col-xs-12
                .defimgblock
                    span.defimgblock__img
                        img(src="img/fixedprice.png", alt="dedicated")
                    h3.defimgblock_title FIXED PRICE PROJECT
                    p.defimgblock__p.
                        Fixed Price model is suitable for projects with well-defined requirements, schedules and project path. For fixed price projects our business analysts and architects work with the client to create a precise estimation and delivery schedule along with mutually agreeable the fixed price for the final deliverable. The primary advantage of the Fixed Price model consists in allowing the client to determine exactly the project budget in advance. As to clients looking for more flexibility in terms of altering requirements and managing changes based upon the dynamic needs of their organization.

include parts/questions
include parts/footer
