include parts/header
    span.hidden(data-page="contacts")
    .container
        .row.aproaches-header
            .col-xs-12
                h2.text-center CONTACT US
                p.text-center
                    | If you have questions and suggestion, need a free quote for your software development project or would like to discuss
                    br
                    |  possibilities for collaboration, do not hesitate to contact us.

section#contacts
    .container
        .row
            .flex
                .contact
                    span.contact__img
                        img(src="img/usa.png", alt="")
                    h3.contact__title USA, New York 
                    p.contact__desc
                        | 10011 New York, 33 west 17 street
                        br
                        | +13473873556
                        br
                        a(href="mailto:hello@ideasoft.io") hello@ideasoft.io
                .contact
                    span.contact__img
                        img(src="img/peru.png", alt="")
                    h3.contact__title Peru, Lima
                    p.contact__desc
                        | 15074 Lima, Larco 687 Estelar
                        br
                        | +51963967055
                        br
                        a(href="mailto:hello@ideasoft.io") hello@ideasoft.io
                .contact
                    span.contact__img
                        img(src="img/ukraine.png", alt="")
                    h3.contact__title Ukraine, Kharkiv
                    p.contact__desc
                        | 61003 Kharkiv, Constitution Square 1
                        br
                        | +380677935408, +3809316150866
                        br
                        a(href="mailto:hello@ideasoft.io") hello@ideasoft.io

include parts/questions
include parts/footer
