include parts/header
    include parts/header__home-sub
main
  span.hidden(data-page="home")
  section#start.start.foo.foo-1
    .container
      .row
        .col-md-10.col-md-offset-1.text-center
          h2.start__title.title How to start Your project
          p.start__descr.descr
            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
      .row
        .col-sm-6.col-md-6
          .start__item.start__item--requirements
            strong.start__item-title GATHERING THE REQUIREMENTS
            p.start__item-descr
              | At this stage we are talking with you in order to understand which tasks must be performed, what technologies should be used and what roles are needed within the team, the best team size, and what type of process do you prefer. We can advise you on the optimal team composition, processes and technologies.
        .col-sm-6.col-md-6.pull-right
          .start__item.start__item--selection
            strong.start__item-title TEAM SELECTION
            p.start__item-descr
              | We suggest the best available candidates both from the company pool and from the labor market. Our HR specialists propose candidates taking into account not only their professional experience and technical skills, but also their personal qualities. You have the opportunity to select the actual candidates.
      .row
        .col-sm-6.col-md-6
          .start__item.start__item--setup
            strong.start__item-title WORKFLOW SETUP
            p.start__item-descr
              | Now we have to detail the necessary software, organize workplaces, establish the client–team communication channels and begin the knowledge transfer.
        .col-sm-6.col-md-6.pull-right
          .start__item.start__item--launch
            strong.start__item-title TEAM LAUNCH
            p.start__item-descr
              | After the team starts working, our project and account managers supervise the team to make sure that every part of the project works smoothly.
  section.clients
    .container
      .row.foo.foo-2
        .col-md-10.col-md-offset-1
          h2.clients__title.title
            | Our clients
          p.clients__descr
            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        .col-md-12
          ul.clients__slider.slider
            li
              a(href='#')
                img(src='img/logotypes/Danit.png', width='180', height='110', alt='Danit')
            li
              a(href='#')
                img(src='img/logotypes/neura.png', width='180', height='110', alt='Neura')
            li
              a(href='#')
                img(src='img/logotypes/nexar.png', width='180', height='110', alt='Nexar')
            li
              a(href='#')
                img(src='img/logotypes/Sensory.png', width='180', height='110', alt='Sensory Treat')
            li
              a(href='#')
                img(src='img/logotypes/agrieye.png', width='180', height='110', alt='Agrieye')
            li
              a(href='#')
                img(src='img/logotypes/eurasianet.png', width='180', height='110', alt='Eurasianet')
            li
              a(href='#')
                img(src='img/logotypes/Danit.png', width='180', height='110', alt='Danit')
            li
              a(href='#')
                img(src='img/logotypes/neura.png', width='180', height='110', alt='Neura')
            li
              a(href='#')
                img(src='img/logotypes/nexar.png', width='180', height='110', alt='Nexar')
            li
              a(href='#')
                img(src='img/logotypes/Sensory.png', width='180', height='110', alt='Sensory Treat')
            li
              a(href='#')
                img(src='img/logotypes/agrieye.png', width='180', height='110', alt='Agrieye')
            li
              a(href='#')
                img(src='img/logotypes/eurasianet.png', width='180', height='110', alt='Eurasianet')
  section.needs
    .container
      .row
        .col-md-10.col-md-offset-1
          h2.needs__title.title
            | TWO MAIN NEEDS THAT WE MEET
          p.needs__descr
            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
      .row
        .col-md-6.foo.foo-3
          .needs__item.needs__item--pool
            img(src="img/icons/needs-icon__1.png", alt="")
            strong.needs__item-title GREAT LABOUR POOL
            p.needs__item-descr
              | Kharkiv and Kyiv are famous for their history as a well developed cities, which universities has trained a lot of high quality engineers for the whole USSR. Nowadays this legacy has turned into a well established market of IT specialists. We choose best of them.
        .col-md-6.foo.foo-4
          .needs__item.needs__item--costs
            img(src="img/icons/needs-icon__2.png", alt="")
            strong.needs__item-title DECREASING YOUR COSTS
            p.needs__item-descr
              | Our location means that you might have more affordable prices, there are no additional costs such as taxes, health insurance, administrative or recruitment costs, still you will not lose on quality. Well established communication channels, good level of English, sharp minded specialists - all of this may create a good proposition for you.

include parts/questions

include parts/footer
//- script(src='js/jquery-3.2.1.min.js')
//- script(src='js/slick.min.js')
//- script(src='js/bootstrap.min.js')
//- script(src='js/scrollreveal.min.js')

