include parts/header
    span.hidden(data-page="expertise")
    .container
        .row.aproaches-header
            .col-xs-12
                 h2.text-center OUR EXPERTIZE
            .col-md-6.col-sm-12
                .row.text-center
                    .col-sm-6.col-xs-12
                        a.light-btn(href="#") Design
                    .col-sm-6.col-xs-12
                        a.light-btn(href="#") Web&amp;Mobile development
            .col-md-6.col-sm-12
                .row.text-center
                    .col-sm-6.col-xs-12
                        a.light-btn(href="#") Cross platform
                    .col-sm-6.col-xs-12
                        a.light-btn(href="#") AI, Blockchain Solutions
section#design
    .container
      .row
        .col-md-10.col-md-offset-1
          h2.needs__title.title
            | Design
          p.needs__descr
            | In a modern world, every small business and website wants to look fresh and juicy. We will gather your demands and propose the best concepts that will fit exactly to you.
      .row
        .col-md-6.foo.foo-3
          .needs__item.needs__item--pool
            img(src="img/icons/design1.png", alt="")
            strong.needs__item-title UI/UX Design
            p.needs__item-descr
                | UX Prototyping
                br
                | Scetches, Wireframes, Mockups
                br
                | Customer surveys
                br
                | UI Design
                br
                | Pixel perfect
        .col-md-6.foo.foo-4
          .needs__item.needs__item--costs
            img(src="img/icons/design2.png", alt="")
            strong.needs__item-title Branding
            p.needs__item-descr
                | UX Prototyping
                br
                | Scetches, Wireframes, Mockups
                br
                | Customer surveys
                br
                | UI Design
                br
                | Pixel perfect

section#webdev.darker
    .container
        .row
            .col-md-10.col-md-offset-1
                h2.needs__title.title
                    | WEB DEVELOPMENT
                p.needs__descr
                    | Everything from sophisticated business automation platforms, to robust email clients, to complex ecommerce platforms leverage web development to provide powerful software to the world in real-time. We build scalable, enterprise-grade software that stands up to rigorous use across a variety of verticals.
        .row
            .col-xs-12
                .flex
                    .technicon
                        span.technicon__icon
                            img(src="img/icons/webdev/c.png", alt="")
                        p C
                    .technicon
                        span.technicon__icon
                            img(src="img/icons/webdev/csh.png", alt="")
                        p C#
                    .technicon
                        span.technicon__icon
                            img(src="img/icons/webdev/cpp.png", alt="")
                        p C++
                    .technicon
                        span.technicon__icon
                            img(src="img/icons/webdev/go.png", alt="")
                        p Go
                    .technicon
                        span.technicon__icon
                            img(src="img/icons/webdev/php.png", alt="")
                        p php
                    .technicon
                        span.technicon__icon
                            img(src="img/icons/webdev/js.png", alt="")
                        p js
                    .technicon
                        span.technicon__icon
                            img(src="img/icons/webdev/java.png", alt="")
                        p java
                    .technicon
                        span.technicon__icon
                            img(src="img/icons/webdev/python.png", alt="")
                        p python
                    .technicon
                        span.technicon__icon
                            img(src="img/icons/webdev/ruby.png", alt="")
                        p ruby
                    .technicon
                        span.technicon__icon
                            img(src="img/icons/webdev/scala.png", alt="")
                        p scala

section#mobdev
    .container
        .row
            .col-md-10.col-md-offset-1
                h2.needs__title.title
                    | WEB DEVELOPMENT
                p.needs__descr
                    | Everything from sophisticated business automation platforms, to robust email clients, to complex ecommerce platforms leverage web development to provide powerful software to the world in real-time. We build scalable, enterprise-grade software that stands up to rigorous use across a variety of verticals.
        .flex
            .technicon
                span.technicon__icon
                    img(src="img/icons/webdev/apple.png", alt="")
            .technicon
                span.technicon__icon
                    img(src="img/icons/webdev/android.png", alt="")


include parts/questions
include parts/footer
