    .main-header {
        position: relative;
        padding-top: 55px;
        padding-bottom: 25px;
        background: url("../img/header-bg.jpg") no-repeat center/cover;
    }

    .mobmenu {
        @media screen and (min-width: $screen-md-min) {
            display: none;
        }

        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,.8);
        z-index: 10000;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transform: translate(0, -100%);
        transition: transform .5s cubic-bezier(.56,.71,.5,.23);

        &.is-open {
            transform: translate(0, 0);
        }

        .closebtn {
            font-size: 1.5em;
            cursor: pointer;

            &:hover {
                color: #0bbfb9;
                transition: all .25s ease-in-out;
            }
        }

        ul {
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            list-style: none;

            li {
                a {
                    text-transform: uppercase;
                    font-size: 1.4em;
                    color: #fff;
                    transition: all .25s ease-in-out;
                    position: relative;
                    overflow: hidden;
                    padding-bottom: 7px;
                    display: inline-block;

                    &::after {
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background-color: #0bbfb9;
                        position: absolute;
                        content: '';
                        transform: translate(-100%, 0);
                        transition: all .25s ease-in-out;
                    }
                }

                &:hover,
                &.active {
                    a {
                        text-transform: uppercase;
                        font-size: 1.4em;
                        color: #0bbfb9;
                        transition: all .25s ease-in-out;
                        padding-bottom: 7px;
                        position: relative;
                        text-decoration: none;
                        overflow: hidden;

                        &::after {
                            transform: translate(0, 0);
                        }
                    }
                }
            }
        }
    }

    .mobflex {
        @media screen and (max-width: $screen-sm-max) {
            display: flex;
            align-items: center;

            .navbar-right {
                text-align: right;

                .mobmenu-btn {
                    font-size: 1.7em;
                    margin-right: 30px;
                }
            }
        }
    }

    .main-header__title {
        margin: 0;
        margin-top: 120px;
        margin-bottom: 25px;
        font-weight: bold;
        font-size: 2.67em;

        @media screen and (max-width: $screen-xs-max) {
            font-size: 1.5em;
        }
    }

    .main-header__home-sub {
        padding-bottom: 200px;
    }

    .main-header__descr {
        margin: 0;
        margin-bottom: 35px;
        font-weight: 300;
        font-size: 1em;
        line-height: 30px;
    }

    .main-header__btn {
        display: block;
        padding: 20px 68px;
        text-transform: uppercase;
        font-size: .9em;
        color: #fff;
        -webkit-border-radius: 33px;
        -moz-border-radius: 33px;
        border-radius: 33px;
        background-color: #0bbfb9;
        border: none;
        font-weight: 500;
        transition: all .2s ease-in-out;
    }

    .main-header__btn:hover {
        color: whitesmoke;
        background-color: #0aaca6;
    }

    .main-header__btn:active,
    .main-header__btn:focus {
        color: whitesmoke;
    }

    .main-header__btn:active {
        transform: translateY(5px);
    }

    .main-header__mouse {
        position: absolute;
        left: 50%;
        bottom: 61px;
        display: block;
        width: 17px;
        height: 42px;
        margin-left: -8.5px;
        background: url("../img/icons/mouse.png") no-repeat center;
    }

    @media (max-width: 767px) {
        .main-header__title {
            font-size: 2.1em;
        }
        .main-header__descr {
            display: none;
        }
        .main-header__mouse {
            display: none;
        }
    }

    .main-nav {
        background-color: transparent;
        border: none;
    }

    .main-nav__logo {
        display: block;
        width: 131px;
        height: 70px;
        padding: 0;
    }

    .main-nav__list {
        padding-top: 10px;
    }

    .main-nav__list li {
        margin-right: 45px;
    }

    .main-nav__list li:last-child {
        margin-right: 0;
    }

    .main-nav__list li a[href] {
        position: relative;
        display: block;
        padding: 0;
        padding-bottom: 10px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: .833em;
        line-height: 18px;
        font-family: 'Roboto', sans-serif;
        color: #fff !important;
        transition: color .3s;
    }

    .main-nav__list li a[href]:hover {
        color: #0bbfb9 !important;
        background-color: transparent;
    }

    .main-nav__list li.active a {
        color: #0bbfb9 !important;
        background-color: transparent !important;
    }

    .main-nav__list {
        li.active a::after {
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 2px;
            background-color: #0bbfb9;
            transform: translate(0, 0);
        }

        li {
            overflow: hidden;

            a::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: #0bbfb9;
                transform: translate(-150%, 0);
                transition: all .25s ease-in-out, transform .5s ease-in-out;
            }

            &:hover {
                a {
                    &::after {
                        transform: translate(0, 0);
                    }
                }
            }
        }
    }

    .main-nav__toggle {
        margin-top: 15px;
    }

    @media (max-width: 767px) {
        .main-nav__list {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .main-nav__list li {
            margin-right: 0;
        }
    }

    @media (min-width: 768px) and (max-width: 991px) {
        .main-nav__list li {
            margin-right: 5px;
        }
        .main-nav__list li a {
            padding: 0;
        }
    }

    .aproaches-header {
        h2 {
            margin-bottom: 25px;
        }
    }

    .light-btn {
        width: 100%;
        border: 1px solid;
        border-color: #817a98;
        border-radius: 6px;
        color: rgba(#fff, .8);
        font-size: .9em;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1.2;
        transition: all .25s ease-in-out;

        &:hover,
        &:focus {
            border-color: #0bbfb9;
            color: #0bbfb9;
            text-decoration: none;
        }

        @media screen and (max-width: $screen-xs-max) {
            max-width: 300px;
            margin: 10px auto;
        }
    }
