#founders,
#partners {
    .flex {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.member {
    padding: 0 35px;
    color: #555;
    margin: 15px;

    @media screen and (max-width: $screen-sm-max + 1) {
        margin: 0;
        padding: 0 10px;
    }

    &__img {
        display: block;
        margin: 0 auto;
        width: 270px;
        border-radius: 50%;
    }

    &__title {
        text-align: center;
        text-transform: uppercase;
        color: #343434;
        font-weight: 700;
        font-size: 1.4em;
        margin-top: 35px;
    }

    &__desc {
        text-align: center;
        font-weight: 300;
        line-height: 2;
        font-size: 1em;

        a {
            color: #0bbfb9;
            text-decoration: none;
            font-weight: 500;
            transition: all .2s ease-in-out;

            &:hover {
                color: darken(#0bbfb9, 10);
            }
        }
    }
}
